body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f5f5f5;
            color: #000000;
        }

        h1 {
            text-align: center;
            color: #2c3e50;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.6;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin: 10px 0;
            font-size: 1.1rem;
        }
        a:link {
            color: rgb(42, 143, 238);
        }
        a:hover{
            color: rgb(29, 192, 29);
        }
        a:active{
            color: red
        }
        a:visited{
            color: rgb(131, 4, 131);
        }